<div class="container">
  <div class="clock">
    <div class="button button__reset" #reset (click)="onReset()">
      <div class="button__rectangle button__rectangle--reset"></div>
    </div>
    <div class="button button__startStop" #startStop (click)="onStartStop()">
      <div class="button__rectangle button__rectangle--startStop"></div>
    </div>
    <div class="button button__wait" #wait (click)="onWait()">
      <div class="button__rectangle button__rectangle--wait"></div>
    </div>
    <div class="hour">
      <div class="hr" id="hr" #hr></div>
    </div>
    <div class="min">
      <div class="mn" id="mn" #mn></div>
    </div>
    <div class="sec">
      <div class="sc" id="sc" #sc></div>
    </div>
  </div>
</div>
